@use "../global.scss" as *;

.ad-wrap {
    z-index: 1;
    margin: 0 auto;
    margin-bottom: 1rem;
    max-width: 312px;
    width: 100%;

    .ad {
        position: relative;
        align-self: flex-start;
        width: 100%;
        z-index: 2;
        font-family: brandon-grotesque, sans-serif;
        @include shadow-articles;
        font-size: 14px;

        @include media-breakpoint-down(md) {
            font-size: 16px;
            width: 100%;
        }

        .main-panel {
            background-color: var(--articles-ad-background-color, var(--card-background));
            color: var(--articles-ad-font-color, var(--bs-body-color));
            // background-color: #343746;
            height: 400px;
            display: flex;
            flex-direction: column;

            .ad-warning {
                // background-color: $base-color;
                // background-color: white;
                // color: black;
                padding: 0.1rem 0.75rem;
                font-family: brandon-grotesque, sans-serif;
                // font-style: normal;
                font-weight: 900;
                font-size: 1rem;
                border-bottom: 1px solid var(--articles-ad-border-color, var(--card-background));
            }

            .content-wrap {
                display: flex;
                // flex-direction: row;
                flex-direction: column;
                align-items: center;

                @include media-breakpoint-up(lg) {
                    flex-direction: column;
                }
            }

            .photo-banner {
                position: relative;
                height: 100px;
                width: 100px;
                flex-shrink: 0;
                display: flex;
                // justify-content: center;
                align-items: center;
                padding-left: 1rem;
                margin-left: 0.75rem;

                // @include media-breakpoint-up(lg) {
                margin-left: 0rem;
                height: 125px;
                width: 100%;
                // }

                .logo {
                    // padding: 1rem;
                    // $height: 125px;
                    // position: absolute;
                    // top: 1rem;
                    // left: 50%;
                    // transform: translateX(-50%);
                    // height: $height;
                    object-fit: cover;
                    z-index: 1;

                    img {
                        width: 75px;
                        height: 75px;
                        object-fit: contain;

                        // @include media-breakpoint-up(lg) {
                        //     width: 100px;
                        //     height: 100px;
                        // }
                    }
                }

                .icon {
                    display: none;
                    position: absolute;
                    bottom: calc(-125px / 2);
                    left: 20px;
                    height: 125px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-size: 3.5rem;
                }

                .photo {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .details-wrap {
                width: 100%;
            }

            .details,
            .detail-title {
                padding: 0.75rem;
                // color: white;
                display: grid;
                grid-gap: 5px 5px;
                grid-template-columns: repeat(2, 1fr);
                padding-bottom: 0rem;

                @include media-breakpoint-down(md) {
                    // padding-top: 80px;
                }

                .detail {
                    // margin-left: 5%;
                    // width: 50%;

                    .icon {
                        display: inline-block;
                        width: 1.5rem;

                        i {
                            justify-content: flex-start;
                            display: flex;
                        }
                    }
                }
            }

            .short-description {
                padding: 0.75rem;
                padding-top: 0.25rem;
                padding-bottom: 0rem;
                min-height: 50px;
                overflow-y: auto;
                max-height: 125px;
                // @include articles-scrollbar;
                @include alternate-scrollbar;
                // color: white;
            }

            .detail-title {
                display: flex;
                justify-content: space-between;
                align-items: center;

                // .detail {
                //     // font-size: 2rem;
                //     width: 100%;
                //     font-family: brandon-grotesque, sans-serif;
                //     font-style: normal;
                //     font-weight: 900;
                //     font-size: 1.25rem;

                //     .icon {
                //         margin-right: 1rem;
                //     }
                // }
            }

            .action-wrap {
                // background-color: #343746;
                // color: white;
                border-top: 1px solid var(--articles-ad-border-color, var(--card-background));

                .action {
                    // color: white;
                    // margin-top: 0.75rem;
                    padding: 0.25rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid var(--articles-ad-border-color, var(--card-background));
                    color: var(--articles-ad-font-color, var(--bs-body-color));
                    border-radius: 10px;
                    margin-left: auto;
                    margin-right: auto;
                    cursor: pointer;
                    transition-duration: 200ms;

                    &:hover {
                        background-color: white;
                        color: black;
                    }

                    &:active {
                        background-color: gray;
                    }
                }
            }
        }
    }

    .advertise-with-us {
        background-color: var(--articles-ad-background-color, var(--card-background));
        border-top: 2px solid var(--articles-ad-border-color, var(--card-background));

        a {
            color: var(--articles-ad-font-color, var(--bs-body-color))!important;
        }
    }
}