@use "../global.scss" as *;

.scoreboard {
    margin-top: 1rem;
    max-width: 300px;
    width: 100%;
    margin-bottom: 1rem;

    @include media-breakpoint-up(lg) {
        margin-top: 0rem;
        margin-bottom: 0rem;
        display: block;
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }
}

.articles-game-scoreboard {
    border: 1px solid rgb(206, 212, 218);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 8px;
    // background: rgb(255, 255, 255);
    color: rgb(34, 34, 34);
    width: 100%;
    max-width: 350px;
    margin: 0px 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: fixed;
    bottom: 50%;
    transform: translateY(50%);
    left: 8px;
}